requests==2.32.3
edge-tts==6.1.12
moviepy==1.0.3
Pillow==10.4.0
python-dotenv==1.0.1
google-api-python-client==2.147.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
tqdm==4.66.5
pydub==0.25.1